<div class="country-page">
    <div class="header">
        <div style="display: flex; flex-direction: row; align-items: center; justify-content: center">
            <img class="logo-img" src="./assets/tours.png">
            <h1>Explore Our Destinations</h1>
        </div>
        <p class="subtitle">Discover countries where unforgettable tours await you!</p>
    </div>

    <div class="search-section">
        <input
                type="search"
                placeholder="🔍 Search for a country..."
                (input)="searchResult($event.target.value)"
                class="search-box"
        />
    </div>

    <div *ngIf="countries.length > 0; else noResult" class="country-list">
        <div *ngFor="let country of countries" class="country-card">
            <img [src]="country.flags.svg" [alt]="country.name.common" class="flag" />
            <div class="country-info">
                <h3>{{ country.name.common }}</h3>
                <a style="color: black;" [routerLink]="['/tours', country.cca3]">Click to explore tours in {{ country.name.common }}</a>
            </div>
        </div>
    </div>

    <ng-template #noResult>
        <p class="no-result">😕 No countries found. Try another search.</p>
    </ng-template>
</div>